.home-container {
 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .home-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .home-title {
    font-size: 29px;
    color: #910c0c;
    margin: 10px 0; 
  }
  
  .home-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
  }
  
  .nav-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 40px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Reduce margin to make buttons closer */
    text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .nav-button:hover {
    background-color: #3e8e41;
  }
  
  .camera-button{
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
  }

  .nav-link{
    text-decoration: none;
  }

  .about-image {
    width: 50%; /* adjust the width to your liking */
    margin: 0; /* remove any margin */
   
    margin-left: -40px;
    
  }